<% layout("/layout/boilerplate.ejs") %>
<section>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
                error amet
                numquam iure provident voluptate esse quasi, veritatis totam
                voluptas nostrum
                quisquam eum porro a pariatur veniam.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                    class="rounded-circle shadow-1-strong" width="100"
                    height="100" />
            </div>
            <h5 class="mb-3">Maria Smantha</h5>
            <h6 class="text-primary mb-3">Web Developer</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                amet, consectetur
                adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                ad velit ab hic
                tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star-half-alt fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
            
            <h5 class="mb-3">Lisa Cudrow</h5>
            <h6 class="text-primary mb-3">Graphic Designer</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam,
                quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid com modi.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                    class="rounded-circle shadow-1-strong" width="100"
                    height="100" />
            </div>
            <h5 class="mb-3">John Smith</h5>
            <h6 class="text-primary mb-3">Marketing Specialist</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus
                et iusto odio
                dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="far fa-star fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
    </div>
</section>


<hr>
<div class="col-8 offset-3">
        
        <hr>
        <h4>Leave a Review</h4>
        <form action="/review" method="post" novalidate class="needs-validation">



            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Name</label>
                    <input type="text" name="listing[name]" placeholder="Enter title" class="form-control bg bg-dark text-light" required>
                <label for="description" class="form-label">Comments</label>
                <textarea name="listing[description]" id="comment" cols="30" rows="5" placeholder="Enter Description" class="form-control bg-dark text-light" required></textarea>
                <div class="invalid-feedback">
                    Please submit some comments for review
                </div>
                <label for="title" class="form-label">Rating</label>
                    <input type="number" name="listing[rating]" placeholder="Enter Rating" class="form-control bg bg-dark text-light" required>
            </div>

            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>